.productPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.originalPrice {
    text-decoration: line-through;
    color: red;
}

.productPrice {
    display: flex;
    justify-content: space-between;
    width: 80%;
}



.productName {
    text-transform: capitalize;
    padding: 10px 0;
}

.productDescription {
    height: 100px;
    padding: 10px 0;
}

.productDiscount {
    background: #eb5858;
    width: fit-content;
    padding: 2px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 10px;
}

.discountDiv {
    display: flex;
}